<div ng-repeat="facet in vm.types | pnUnselectedFacets | orderBy:'name'" class="row">
   <div class="col-md-12 ellipsis">
      <input type="checkbox" ng-model="facet.selected" ng-change="vm.update()" />
      <span tooltip-append-to-body="true" tooltip-placement="top-left" uib-tooltip="{{facet.name}}">
         <a target="_blank" href="http://www.google.com/search?q={{facet.name | pnClean}}">{{facet.name}}</a>
         ({{(facet.count | number) + (facet.count || facet.count == 0?' of ':'')}}{{facet.total | number}})
      </span>
   </div>
</div>