<div class="well well-sm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10">
				<button style="margin-top:0px;" ng-click="initiateDraw()" ng-disable="client.drawing"  tooltip-placement="right"
               uib-tooltip="Enable drawing of a bounding box. On enabling, click on the map and drag diagonally" class="btn btn-primary btn-xs">Draw</button>
			</div>
			<div class="col-md-2">
				<button style="float:right" ng-click="showInfo = !showInfo"  tooltip-placement="left"
               uib-tooltip="Information." class="btn btn-primary btn-xs"><i class="fa fa-info"></i></button>
				<exp-info title="Selecting an area" show-close="true" style="width:450px;position:fixed;top:230px;right:40px" is-open="showInfo"><icsm-info-bbox></div></exp-info>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-8">
				<div style="font-weight:bold;width:3.5em;display:inline-block">Y Max:</div>
				<span>
               <input type="text" style="width:6em" ng-model="clip.yMax" ng-change="check()"></input>
               <span ng-show="showBounds && bounds">({{bounds.yMax|number : 4}} max)</span>
            </span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div style="font-weight:bold;width:3.5em;display:inline-block">X Min:</div>
				<span>
               <input type="text" style="width:6em" ng-model="clip.xMin" ng-change="check()"></input>
               <span ng-show="showBounds && bounds">({{bounds.xMin|number : 4}} min)</span>
            </span>
			</div>
			<div class="col-md-6">
				<div style="font-weight:bold;width:3.5em;display:inline-block">X Max:</div>
				<span>
               <input type="text" style="width:6em" ng-model="clip.xMax" ng-change="check()"></input>
               <span ng-show="showBounds && bounds">({{bounds.xMax|number : 4}} max)</span>
            </span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-8">
				<div style="font-weight:bold;width:3.5em;display:inline-block">Y Min:</div>
				<span>
               <input type="text" style="width:6em" ng-model="clip.yMin" ng-change="check()"></input>
               <span ng-show="showBounds && bounds">({{bounds.yMin|number : 4}} min)</span>
            </span>
			</div>
		</div>
	</div>
</div>