.clipmodal {
   z-index: 1010;
   padding: 1px;
   text-align: left;
   white-space: normal;
   opacity: 1;
   background-color: #F8f8f8;
   background-clip: padding-box;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, .2);
   border-radius: 6px;
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
           box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
 }

 .clipmodal-title {
   padding: 8px 14px;
   margin: 0;
   font-size: 14px;
   font-weight: bold;
   line-height: 18px;
   background-color: #e0e0e0;
   border-bottom: 1px solid #ebebeb;
   border-radius: 5px 5px 0 0;
 }

 .clipmodal-content {
   padding: 9px 14px;
 }

 .clipmodal.ng-hide-add, .clipmodal.ng-hide-remove {
   /* this is required as of 1.3x to properly
      apply all styling in a show/hide animation */
   transition:0s linear all;
 }

 .clipmodal.ng-hide-add-active,
 .clipmodal.ng-hide-remove-active {
   /* the transition is defined in the active class */
   transition:1s linear all;
 }