.quickSearch {
   width:33em;
   color:black;
}

.placenames-filtered-summary {
   position: fixed;
   z-index: 4;
   top: 123px;
   left: 450px;
   right: 20px;
}

.placenames-filtered-summary-child {
   background-color: white;
   opacity: 0.6;
   border-radius: 3px;
   display: inline-block;
}
