<div class="upload-dialog">
   <div class="ud-info" ng-if="!state.file">
      <div style="font-weight: bold">
         <i class="fa fa-hand-o-left point-at-box fa-2x" aria-hidden="true" style="padding-right:12px;"></i>
         Select and drop file(s) for reprojection
      </div>
      <br/>
      <div>
         <span style="font-weight: bold">CSV -</span>
         Drop a single CSV file with a ".csv" extension and we will scan for columns and ask follow up questions.
      </div>
      </br/>
      <div>
         <span style="font-weight: bold">Shapefile -</span>
         Drop  four files with the same file prefix to transform a shapefile
         <ul>
            <li>".shp" — shape format; the feature geometry itself.</li>
            <li>".shx" — shape index format; a positional index of the feature geometry to allow seeking forwards and backwards quickly.</li>
            <li>".dbf" — attribute format; columnar attributes for each shape, in dBase IV format.</li>
            <li>".prj" — projection; describes the coordinate system and projection information used.</li>
         </ul>
      </div>
   </div>

   <div ng-if="state.file && state.extension == 'csv'">
      <h3>Selected {{state.file.name}} ({{state.file.size | bytes}})</h3>
   </div>
   <div style="text-align:right" ng-if="state.file.size > settings.maxFileSize">
      The size of the file to be uploaded must not exceed {{settings.maxFileSize | bytes}}. Please select a smaller file.
      <button type="button" class="btn btn-primary" ng-click="cancel()">OK</button>
   </div>
   <hr />
   <div ng-show="state.file">
      <div ng-if="state.extension == 'csv' && state.file.size < settings.maxFileSize">
         <csv-file state="state" settings="settings" />
      </div>
      <div ng-if="state.extension == 'shp'">
         <shp-file state="state" settings="settings" />
      </div>
      <transformation-target state="state"></transformation-target>
      <accept-epsg4283 state="state"></accept-epsg4283>
   </div>
   <div ng-show="state.file">
      <div>
         <h4>Nominate your notification email address<mandatory /></h4>
         <email state="state" ng-if="state" />
      </div>

      <div style="padding-top: 10px">
         <progress-bar-csv state="state" ng-show="state.extension == 'csv'"/>
         <progress-bar-shapefile state="state" ng-show="state.extension == 'shp'" />
      </div>
   </div>
</div>