<div class="panel panel-default" style="margin-bottom:-5px;">
   <div class="panel-heading">
		<vector-add group="vect.group"></vector-add>
		<common-bbox data="vect.group"></common-bbox>
		<common-cc4></common-cc4>
      <strong>{{vect.group.title}}</strong>
   </div>
   <div class="panel-body">
      <div ng-repeat="doc in vect.group.docs">
         <div ng-class-odd="'odd'" ng-class-even="'even'" style="padding-left:12px" ng-mouseleave="vect.lolight(doc)" ng-mouseenter="vect.hilight(doc)" >
            <span style="width:100%;display:inline-block;padding-bottom:8px">
               <input type="checkbox" class="vector-checkbox" ng-model="doc.selected">
		         <common-metaview url="'http://www.ga.gov.au/metadata-gateway/metadata/record/' + doc.sysId + '/xml'" container="select" item="doc"></common-metaview>
		         <a href="http://www.ga.gov.au/metadata-gateway/metadata/record/{{doc.sysId}}" target="_blank" tooltip-append-to-body="true"
                           uib-tooltip="{{doc.abstract}}" tooltip-placement="auto bottom" tooltip-class="vector-tooltip">
                  <strong>{{doc.title}}</strong>
               </a>
	         </span>
         </div>
      </div>
   </div>
</div>