<div class="modal-header">
   <h3 class="modal-title splash">Download datasets by providing email address and start extract</h3>
</div>
<div class="modal-body" id="accept" ng-form exp-enter="accept()" icsm-splash-modal style="width: 100%; margin-left: auto; margin-right: auto;">
   <div class="row bg-warning" ng-show="noneSelected(products)">
      <div class="col-md-2">
         <button type="button" style="float:right" class="btn btn-primary" ng-click="cancel()">Close</button>
      </div>
   </div>
   <div ng-controller="listCtrl as list">
      <div class="row">
         <div class="col-md-12">
            <strong>
               {{list.selected.length}} Selected Datasets
               <span ng-show="list.selectedSize">(Approx: {{list.selectedSize | fileSize}})</span>
            </strong>
         </div>
      </div>
   </div>
   <div ng-repeat="org in products">
      <h5>
         <img ng-src="{{mappings[org.source].image}}" ng-attr-style="height:{{mappings[org.source].height}}px"></img>
         <strong>{{org.source}}</strong>
      </h5>
      <div style="padding-left:10px" ng-repeat="(key, subGroup) in org.downloadables">
         <h5>{{key}}</h5>
         <div style="padding-left:10px;" ng-repeat="(name, items) in subGroup">
            <h5 title="Clipped product using coordinate System: {{data.outCoordSys.value}}, Output Format: {{data.outFormat.value}}">
               {{name}}
               <span style="padding-left:25px;font-size:90%">
                  {{items.length | number :0}} items
                  <span ng-if="items | hasProducts">{{items | productsSummary}}</span>
                  totalling {{items | reviewSumSize | fileSize}}</span>
            </h5>
         </div>
      </div>

   </div>

   <div ng-controller="listCtrl as list">
      <div ng-if="list.selected | hasTransformables" class="well" style="padding:7px">
         <h5 style="margin-top:4px">{{list.selected | transformablesCount}} item(s) are downloads which you can elect to transform into a different coordinate system and file format</h5>
         <span products-dialog>
            <product-projection processing="data"></product-projection>
            <product-formats processing="data"></product-formats>
         </span>
      </div>
   </div>

   <div class="row reviewing-divider">
      <div class="col-md-12" style="padding-bottom: 8px">
         <div review-industry></div>
      </div>
      <div class="col-md-12">
         <div review-email></div>
      </div>
   </div>
   <div class="row" ng-controller="listCtrl as list">
      <div class="col-md-8">
         <strong>Email notification</strong> The extract of data can take some time. By providing an email address we will be able
         to notify you when the job is complete. The email will provide a link to the extracted data which will be packaged
         up as a single compressed file.

         <div
            vc-recaptcha
            theme="'light'"
            key="recaptchaKey"
            on-create="setWidgetId(widgetId)"
            on-success="setResponse(response)"
            on-expire="cbExpiration()"></div>
      </div>
      <div class="col-md-4">
         <div class="pull-right" style="padding:8px;">
            <button type="button" class="btn btn-primary" ng-click="accept()" ng-disabled="!data.industry || !data.email || !list.selected.length || !recaptchaResponse">Start extract of datasets
            </button>
            <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
         </div>
      </div>
   </div>
</div>