<div class="modal-header">
	<h3 class="modal-title splash">Provide email, review datasets and continue</h3>
</div>
<div class="modal-body" id="accept" ng-form exp-enter="accept()" icsm-splash-modal style="width: 100%; margin-left: auto; margin-right: auto;">
	<div class="row">
		<div class="col-md-12">
			<p>
				<strong>Email notification</strong> The extract of data can take some time. By providing an email address we will be
				able to notify you when the job is complete. The email will provide a link to the extracted data which will be packaged
				up as a single compressed file.
			</p>
			<div review-email></div>
		</div>
	</div>
	<div class="row bg-warning" ng-show="noneSelected(products)">
		<div class="col-md-10 center-block" style="padding:5px; text-align:center">
			<strong>All datasets have been removed.</strong>
		</div>
		<div class="col-md-2">
			<button type="button" style="float:right" class="btn btn-primary" ng-click="cancel()">Close</button>
		</div>
	</div>
	<div ng-hide="noneSelected(products)">
		<div class="row">
			<div class="col-md-12">
				<div class="pull-right" style="padding:8px;">
					<button type="button" class="btn btn-primary" ng-click="accept()" ng-disabled="!data.email">Start extract</button>
					<button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>Selected datasets</h4>
				Review and delete unwanted datasets.
			</div>
		</div>
		<div class="row" ng-repeat="product in products | reviewProductsSelected"  ng-class-odd="'reviewing-odd'">
			<div class="col-md-7">
				<button type="button" class="btn btn-default btn-xs" ng-click="product.selected = false">
            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
         </button> {{product.file_name}}
			</div>
			<div class="col-md-5" style="padding:6px">
				({{product.source}}
				<i class="fa fa-arrow-right" aria-hidden="true"></i> {{product.type}}
				<i class="fa fa-arrow-right" aria-hidden="true"></i> {{product.group}})
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="pull-right" style="padding:8px;">
					<button type="button" class="btn btn-primary" ng-click="accept()" ng-disabled="!data.email">Start extract</button>
					<button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>