<div class="modal-header">
   <h3 class="modal-title splash">ELVIS – Foundation Spatial Data</h3>
</div>
<div class="modal-body" id="accept" ng-form exp-enter="accept()" icsm-splash-modal style="width: 100%; margin-left: auto; margin-right: auto;">
	<div>
		<p>
			Here you can download datasets sourced from jurisdictions.
		</p>
		<p>
			<a href="http://www.ga.gov.au/topographic-mapping/digital-elevation-data.html" target="_blank">Find out more on our Elevation page.</a>
		</p>
		<p>
			Data can be downloaded at <strong>no charge</strong> and there is no limit to how many (please check the file size before you download your files).
		</p>
		<p>
			<a href="http://opentopo.sdsc.edu/gridsphere/gridsphere?cid=contributeframeportlet&gs_action=listTools" target="_blank">Click here for Free GIS Tools.</a>
		</p>
      <h5>How to use</h5>
      <p>
         <ul>
            <li>Click on the map, holding the button down,</li>
            <li>Drag to a diagonal corner (not too big, there is a limit of roughly 2x2 degrees)</li>
            <li>On release we will check for data within or very near yur area of interest</li>
            <li>If the list is large you can filter:
               <ul>
                  <li>Partial text match by typing in the filter field and/or</li>
                  <li>By clicking the more button, you can restrict the display to certain file types</li>
               </ul>
            </li>
            <li>Click on any file you would like to download. To reiterate, these files can be huge so take note of the file size before downloading</li>
         </ul>
      </p>
      <h5>Hints</h5>
      <p>
         <ul>
            <li>You can manually type the coordinates into the boxes. After 5 seconds of no changes the area described is checked, just like drawing the box with the mouse.</li>
            <li>Hovering over many items will give you further information about the purpose of the item</li>
            <li>Drawing a polyline allows you to measure distance along the polyline.</li>
            <li>While the tool to draw your area of interest is enabled it is easiest to pan the map using the arrow keys.</li>
            <li>There are many areas where there is no data though the coverage is improving all the time.</li
         </ul>
      </p>
	</div>
   <div style="padding:30px; padding-top:0; padding-bottom:40px; width:100%">
		<div class="pull-right">
		  	<button type="button" class="btn btn-primary ng-pristine ng-valid ng-touched" ng-model="seenSplash" ng-focus="" ng-click="accept()">Continue</button>
		</div>
	</div>
	<div ng-show="messages.length > 0" class="container" style="width:100%; max-height:250px; overflow-y:auto">
		<div class="row" ng-class-even="'grayline'" style="font-weight:bold">
			<div class="col-sm-12" ><h3>News</h3></div>
		</div>

		<div class="row"ng-class-even="'grayline'" style="max-height:400px;overflow:auto" ng-repeat="message in messages | sortNotes">
			<div class="col-sm-12">
				<h4>{{message.title}} <span class="pull-right" style="font-size:70%">Created: {{message.creationDate | date : "dd/MM/yyyy"}}</span></h4>
				<div ng-bind-html="message.description"></div>
			</div>
		</div>
	</div>
</div>