<div class="modal-header">
   <h3 class="modal-title splash">Elevation - Foundation Spatial Data</h3>
</div>
<div class="modal-body" id="accept" ng-form exp-enter="accept()" icsm-splash-modal style="width: 100%; margin-left: auto; margin-right: auto;">
	<div>
		<p>
			Here you can download point cloud and elevation datasets sourced from jurisdictions.
		</p>
		<p>
			<a href="http://www.ga.gov.au/topographic-mapping/digital-elevation-data.html" target="_blank">Find out more on our Elevation page.</a>
		</p>
		<p>
         Data can be downloaded at <strong>no charge</strong> but note that there is a <strong>15GB limit per request</strong> (please check the file size before you download your files).
		</p>
		<p>
			<a href="http://opentopo.sdsc.edu/gridsphere/gridsphere?cid=contributeframeportlet&gs_action=listTools" target="_blank">Click here for Free GIS Tools.</a>
		</p>
      <h5>How to use</h5>
      <p>
         <ul>
            <li>Pan and zoom the map to your area of interest,</li>
            <li>Click on one of the "Select area by..." buttons to define your area of interest,
               <ul>
                  <li>
                        <img style="height:26px;padding-right:10px" src="icsm/resources/img/draw_rectangle.png">Drawing a bounding box. On enabling, click on the map and drag diagonally. There is a limit of roughly 2 square degrees or 200 square km.
                  </li>
                  <li>
                     <img style="height:26px;padding-right:10px" src="icsm/resources/img/draw_polygon.png">
                     Drawing a polygon. On enabling, click on the map for each vertex, click on the first vertex to close the polygon. Don't do too many vertices, it will not afford you greater accuracy and will slow down your search.
                  </li>
                  <li>
                     <i class="fa fa-keyboard-o fa-2x" style="padding-right:10px" aria-hidden="true"></i>
                      Manually entering the minimum and maximum latitudes and longitudes. The same area restrictions apply to drawing the bounds.
                  </li>
               </ul>
            </li>
            <li>On drawing complete we will check for data within or very near your area of interest</li>
            <li>If the list is large you can filter:
               <ul>
                  <li>Partial text match by typing in the filter field and/or</li>
                  <li>You can restrict the display to either elevation (DEM) or point cloud file types</li>
               </ul>
            </li>
            <li>Check against any file you would like to download. To reiterate, these files can be huge so take note of the file size before downloading</li>
            <li>Review your selected datasets and submit.</li>
            <li>An email will be sent to you with a link to all your data, zipped into a single file.</li>
            <li>These files can be huge so take note of the file size before submitting or downloading</li>
         </ul>
      </p>
      <h5>Hints</h5>
      <p>
         <ul>
            <li>Hovering over many items will give you further information about the purpose of the item</li>
            <li>Drawing a polyline allows you to measure distance along the polyline.</li>
            <li>On completion on drawing a line the elevation along that line is plotted.</li>
            <li>While the tool to draw your area of interest is enabled it is easiest to pan the map using the arrow keys.</li>
            <li>There are many areas where there is no data though the coverage is improving all the time.</li
         </ul>
      </p>
	</div>
   <div style="padding:30px; padding-top:0; padding-bottom:40px; width:100%">
		<div class="pull-right">
		  	<button type="button" class="btn btn-primary" ng-model="seenSplash" ng-click="accept()" autofocus>Continue</button>
		</div>
	</div>
</div>