<!-- tabs go here -->
<div id="panesTabsContainer" class="paneRotateTabs" style="opacity:0.9" ng-style="{'right' : contentLeft +'px'}">

	<div class="paneTabItem" ng-class="{'bold': view == 'datasets'}" ng-click="setView('datasets')">
		<button class="undecorated">Datasets</button>
	</div>
	<div class="paneTabItem" ng-class="{'bold': view == 'glossary'}" ng-click="setView('glossary')">
		<button class="undecorated">Glossary</button>
	</div>
	<div class="paneTabItem" ng-class="{'bold': view == 'help'}" ng-click="setView('help')">
		<button class="undecorated">Help</button>
	</div>
</div>
