
/* Side Panel */
/* General styles for all menus */
.cbp-spmenu {
  position: absolute;
  top: 113px;
  bottom: 8px;
  background-color: white;
  overflow-y: hidden;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 0;
  height: 100%;
  z-index: 1010;
}

.cbp-spmenu-right-vertical {
  height: 100%;
  z-index: 1010;
}

.cbp-spmenu-right-small {
  width:300px;
}

.cbp-spmenu-right-med {
  width:500px;
}

.cbp-spmenu-right-large {
  width:50%;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -380px;
}

.cbp-spmenu-right {
  right: 0px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
  box-shadow: 3px 0px 8px #323232;
  width:0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0;
  box-shadow: -3px 0 8px #323232;
  width: 0px;
}

/* Transitions */
.cbp-spmenu,.cbp-spmenu-push {
  transition: all 0.3s ease;
}


/* Transitions */
.contentContainer {
  transition: all 0.3s ease;
}

.left-side-menu-container, .right-side-menu-container  {
   position: absolute;
   top: 15px;
   bottom: 120px;
   left:0;
   right:0;
}

.cbp-spmenu-open .left-side-menu-container, .cbp-spmenu-open .right-side-menu-container  {
  overflow-y: auto;
}
