<div>
   <icsm-clip data="data.item"></icsm-clip>
   <div style="position:relative;padding:5px;padding-left:10px;" class="scrollPanel">
      <div class="panel panel-default" style="margin-bottom:-5px">
         <div class="panel-heading">
            <h3 class="panel-title">Available products</h3>
         </div>

         <div class="panel-body">
            <div ng-repeat="doc in config.datasets" style="padding-bottom:7px">
               <icsm-product ng-if="doc.type == 'dataset'" dataset="doc"></icsm-product>
            </div>
         </div>
      </div>
   </div>
</div>