<div ng-class-odd="'odd'" ng-class-even="'even'" ng-mouseleave="select.lolight(dataset)" ng-mouseenter="select.hilight(dataset)">
      <span ng-class="{ellipsis:!expanded}" tooltip-enable="!expanded" style="width:100%;display:inline-block;"
            tooltip-class="selectAbstractTooltip" tooltip="{{dataset.abstract | truncate : 250}}" tooltip-placement="bottom">
         <button type="button" class="undecorated" ng-click="expanded = !expanded" title="Click to see more about this dataset">
            <i class="fa pad-right fa-lg" ng-class="{'fa-caret-down active':expanded,'fa-caret-right':(!expanded)}"></i>
         </button>
         <product-download-button item="dataset" group="group"></product-download-button>
         <products-bbox-button data="dataset"></products-bbox-button>
         <a href="https://ecat.ga.gov.au/geonetwork/srv/eng/search#!{{dataset.primaryId}}" target="_blank" ><strong>{{dataset.title}}</strong></a>
      </span>
      <product-download-panel item="dataset"></product-download-panel>
      <span ng-class="{ellipsis:!expanded}" style="width:100%;display:inline-block;padding-right:15px;">
         {{dataset.abstract}}
      </span>
      <div ng-show="expanded" style="padding-bottom: 5px;">
         <h5>Keywords</h5>
         <div>
            <span class="badge" ng-repeat="keyword in dataset.keywords track by $index">{{keyword}}</span>
         </div>
      </div>
   </div>