<div class="point-container" ng-if="enabled">
   <div style="text-align: center;">
      <span style="font-weight: bold; font-size: 120%">Elevation at a Point</span>
      <button class="undecorated coverage-unstick" ng-click="close()" style="float:right; color:gray"  title="Cancel elevation display">X</button>
      </div>
   <div ng-show="latitude">
      <div>
         <div class="title">Latitude:</div>{{latitude | number : 5}}&deg;
      </div>
      <div>
         <div class="title">Longitude:</div>{{longitude | number : 5}}&deg;
      </div>
      <div ng-hide="(elevation || elevation === 0) || error">Looking up elevation...</div>
      <div ng-show="error">{{error}}</div>
      <div ng-show="elevation || elevation === 0">
         <div class="title">Elevation:</div>{{elevation | number : 2}}m
      </div>
   </div>
   <div ng-hide="latitude">
      <ul>
         <li>Zoom and pan to your point of interest.</li>
         <li>Click on the point.</li>
      </ul>
   </div>
</div>