<div class="contributors" ng-mouseenter="over()" ng-mouseleave="out()" ng-class="(contributors.show || contributors.ingroup || contributors.stick) ? 'transitioned-down' : 'transitioned-up'">
   <div class="anchored">
      <a ng-repeat="contributor in contributors.orgs | activeContributors" ng-href="{{contributor.href}}" >
         <img src="{{contributor.image}}" alt="{{contributor.title}}" class="elvis-logo"></img>
      </a>
   </div>
   <span style="float: right">
      <button class="undecorated contributors-unstick" ng-click="unstick()">X</button>
   </span>
</div>