.contributors {
   margin: 2px;
   padding: 4px;
   padding-left:12px;
   position: fixed;
   top: 80px;
   right: 1px;
   opacity: 0.95;
   z-index: 6;
   background-color:white;
   white-space: nowrap;

   -webkit-transition: height 1s; /* Safari */
   transition: height 1s;
}

.contributors img {
   -webkit-transition: height 1s; /* Safari */
   transition: height 1s;
}

.contributors.transitioned-up img {
   height: 0;
}

.contributors.transitioned-up .contributors-unstick {
   display: none;
}

.contributors.transitioned-down {
   border: 1px solid gray;
   border-radius: 3px;
   height: 85px;
}

.transitioned-up {
   height: 0px;
   border: 0 none;
   margin: 0;
   padding: 0;
}

.contributors.transitioned-up a {
   height: 0px;
   border: 0 none;
   margin: 0;
   padding: 0;
   border-radius: 0;
}

.contributors-unstick {
   vertical-align: top;
   font-weight: bold;
}

.contributors-link {
   font-weight: bold;
}

.elevation-and-depth {
   padding-left: 12px;
   padding-right: 12px;
}