<div class="row">
      <div class="col-md-4" style="padding-top:7px">
         <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{state.percentage}}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{state.percentage}}%;">
                <span class="sr-only"></span>
            </div>
         </div>
      </div>
      <div class="col-md-5" style="padding-top:7px">
         <span style="padding-right:10px" uib-tooltip="Add information about your file." tooltip-placement="left">
            <i class="fa fa-file-text-o fa-lg" ng-class="{'ed-valid': state.validFileInfo, 'ed-invalid': !state.validFileInfo}"></i>
         </span>
         <span style="padding-right:10px" uib-tooltip="Select a transformation." tooltip-placement="left">
            <i class="fa fa-cogs fa-lg" ng-class="{'ed-valid': state.transformation, 'ed-invalid': !state.transformation}"></i>
         </span>
         <span style="padding-right:10px" uib-tooltip="Provide an email address." tooltip-placement="left">
            <i class="fa fa-envelope fa-lg" ng-class="{'ed-valid': state.validEmail, 'ed-invalid': !state.validEmail}"></i>
         </span>
      </div>
      <div class="col-md-3">
         <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
         <button class="btn btn-primary pull-right" ng-disabled="!state.validForm" ng-click="submit()" disabled="disabled">Submit</button>
      </div>

   </div>