<div class="pn-search-container">
   <div ng-if="state.searched" placenames-results data="state"></div>
   <div style="float:clear" ng-show="!state.searched">
      <h4 style="font-size:12">Search by map location, partial name match or feature type</h4>
      <div class="search-text">
         <div class="input-group input-group-sm">
            <span class="input-group-addon" id="names1">Filter:</span>

            <input type="text" ng-model="state.filter" placeholder="Match by feature name..." ng-model-options="{ debounce: 300}"
                  typeahead-on-select="select($item, $model, $label)" typeahead-template-url="placenames/search/typeahead.html"
                  class="form-control" typeahead-min-length="0" uib-typeahead="doc as doc.name for doc in loadDocs(state.filter)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noResults">

            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="search()" ng-disabled="!state.persist.data">Search</button>
         </span>
         </div>
      </div>
      <div>
         <div ng-show="!(state.classifications | pnSomeSelected)" style="text-align:right"><strong>Found {{state.filtered.response.numFound | number}} features in map view.</strong></div>
         <div ng-show="state.classifications | pnSomeSelected">
            <strong style="float:right">Found {{state.filtered.response.numFound | number}} features</strong>
            <span class="btn btn-primary btn-xs pnPill" ng-repeat="type in state.classifications | pnSelectedFacets" tooltip-append-to-body="true"
               tooltip-placement="left" uib-tooltip="{{type.name}}">
            <span style="max-width:100px;display:inline-block;" class="ellipsis">{{type.name}}</span>
            <span style="max-width:100px;display:inline-block;" class="ellipsis">
               ({{state.filtered.facetCounts[type.code].count?state.filtered.facetCounts[type.code].count:0}})
               <a ng-click="deselect(type)" href="javascript:void(0)"><i class="fa fa-close fa-xs" style="color: white"></i></a>
            </span>
            </span>
         </div>
      </div>
      <uib-accordion close-others="oneAtATime">
         <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
               Filter by feature type...
               <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div ng-repeat="facet in state.classifications | pnUnselectedFacets" class="row">
               <div class="col-md-12 ellipsis">
                  <input type="checkbox" ng-model="facet.selected" ng-change="update(facet)" />
                  <span tooltip-append-to-body="true" tooltip-placement="top-left" uib-tooltip="{{facet.name}}">
                           <a target="_blank" href="http://www.google.com/search?q={{facet.name | pnClean}}">{{facet.name}}</a>
                        </span>
               </div>
            </div>
         </div>
      </uib-accordion>
   </div>
</div>