<div ng-repeat="item in authorities" style="width:49%; display:inline-block">
   <div class="ellipsis" title='Jurisdiction: {{item.jurisdiction}}, Authority name: {{item.name}}'>
      <input type="checkbox" ng-click="update()" ng-model="item.selected" ng-change="change()">
      <span>
         <a target="_blank" href="http://www.google.com/search?q={{item.name}}">{{item.code}}</a>
         ({{(item.allCount | number) + (item.allCount || item.allCount == 0?' of ':'')}}{{item.total | number}})
      </span>
   </div>
</div>